@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --ff-01: 'Lexend Deca', sans-serif;
    --ff-02: 'Big Shoulders Display', sans-serif;

    --fs-s: 1.5rem;
    --fs-l: 4rem;

    --lh: 2.5rem;

    --br: 2.5rem;

    --p: 4.8rem;

    --mb-s: 2.5rem;
    --mb-m: 3.5rem;
    --mb-l: 8.3rem;

    --primary-color-01: hsl(31, 77%, 52%);
    --primary-color-02: hsl(184, 100%, 22%);
    --primary-color-03: hsl(179, 100%, 13%);

    --neutral-color-01: hsla(0, 0%, 100%, 0.75);
    --neutral-color-02: hsl(0, 0%, 95%);
}

*,
body {
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: var(--ff-01);
}

body {    
    width: 100vw;
    height: 100vh;
    background-color: var(--neutral-color-02);
    display: flex;  
    justify-content: center; 
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    width: 30%;
    max-width: 307px;
    padding: var(--p);
}

img {
    margin-bottom: var(--mb-m);
}

h1 {
    font-family: var(--ff-02);
    font-size: var(--fs-l);   
    color: var(--neutral-color-02);
    margin-bottom: var(--mb-s);
}

p {
    font-size: var(--fs-s);
    line-height: var(--lh);
    color: var(--neutral-color-01);
    margin-bottom: var(--mb-l);
}

button {
    display: inline-block;
    padding: 1em 2em;
    font-size: var(--fs-s);
    border: none;
    border-radius: var(--br);
    background-color: var(--neutral-color-02);
}

button:hover {
    cursor: pointer;
    color: var(--neutral-color-02);
    background-color: inherit;
    outline: 2px solid var(--neutral-color-02);
}

.start {
    background-color: var(--primary-color-01);
    border-radius: 8px 0px 0px 8px;
}

.middle {
    background-color: var(--primary-color-02);
}

.end {
    background-color: var(--primary-color-03);
    border-radius: 0px 8px 8px 0px;
}

.btn-start {
    color: var(--primary-color-01);
}

.btn-middle {
    color: var(--primary-color-02);
}

.btn-end {
    color: var(--primary-color-03);
}

@media screen and (max-width: 800px) {
    main {
        flex-direction: column;
        height: auto;
    }

    section {
        width: 90%;
    }

    p {
        margin-bottom: var(--mb-s);
    }

    .start {
        border-radius: 8px 8px 0px 0px;
    }

    .end {
        border-radius: 0px 0px 8px 8px;
    }
}